<%-include("partials/header")-%>

<div class="container row mx-auto">
  <%articles.forEach((article)=>{%>
    <div class="card m-4" style="width: 18rem;">%>
      <img src="<%=article.urlToImage%>" class="card-img-top">
       <div class="card-body">
         <h5 class="card-title"><%=article.title%></h5>
         <p class="card-text"><%=article.description%></p>
         <a href="<%=article.url%>" class="btn btn-primary">Read More</a>
       </div>
     </div>
 <%})%>
</div>

<nav aria-label="next-prev-btn">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

<!-- <div class="personal-opinion">
  <h1>News</h1>
  <%posts.forEach((post)=>{%>
  <h1><%=post.title%></h1>
  <p><%=post.content%></p>
  <%});%>
</div> -->
